---
const platform = "github";
const username = "mucho-web-dev";

const platform_1 = "instagram";

const u_name = "mucho.creativestudios";
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform_1}.com/${u_name}`}>{platform_1}</a
    >!
  </p>
</footer>
